
.chatBox {

  @import "../Button/style";
  @import "../Input/style";
  @import "../Thread/style";

  width: 50%;
  height: 100%;
  display: inline-block;
  padding: 20px;
  box-sizing: border-box;
  font-size: 1.1em;

  h1 {
    margin: 0;
    font-weight: normal;
  }

  input {
    width: 288px;
    margin: 10px 0 0 0;
    font-size: 1.1em;
  }

  .button {
    width: 60px;
    margin: 10px 0 0 10px;
  }
}
