
.thread {
  height: 300px;
  background: white;
  border: solid 1px black;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.2em;
  overflow-y: scroll;

  .message {
    margin: 0 0 10px 0;

    &.partner{
      color: red;
    }
  }

}
